.skills {
  @include sectionLayout(40px 25px, var(--background-one));
  margin-top: 10px;
  &_heading {
    @include headingLayout(36px, center, 50px, var(--main-text-color));
  }

  &_email {
    @include flexSettings(row, center, center);
    @include sectionLayout(15px, var(--secondary-background-two));
    @include borderWithRadius(1px solid var(--box), 10px);
    box-shadow: 1px 3px 6px -2px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto auto 30px auto;
    border-radius: 8px;
    word-break: break-all;
    color: var(--main-text-color);
    img {
      @include imageSize(30px, 30px, contain);
      margin-right: 15px;
    }
  }

  &_email2 {
    @include flexSettings(row, center, center);
    @include sectionLayout(15px, var(--secondary-background-two));
    @include borderWithRadius(1px solid var(--box), 10px);
    box-shadow: 1px 3px 6px -2px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: auto auto 30px auto;
    border-radius: 8px;
    text-align: center;
    color: var(--main-text-color);
    img {
      @include imageSize(30px, 30px, contain);
      margin-right: 15px;
    }
  }

  &_box {
    @include flexSettings(column, center, center);
    flex-wrap: wrap;

    &_container {
      @include flexSettings(column, center, center);
      width: 100%;
      flex-wrap: wrap;
      margin-bottom: 40px;

      &_heading {
        font-size: 24px;
        font-weight: 400;
        color: var(--main-text-color);
      }

      &_heading::after {
        display: block;
        height: 3px;
        background-color: #ffdf6c;
        content: "";
        width: 70px;
        margin: 5px auto 10px auto;
      }

      &_row {
        @include flexSettings(row, center, center);
        width: 100%;
        flex-wrap: wrap;

        &_game {
          @include flexSettings(column, center, center);
          @include borderWithRadius(1px solid var(--box), 10px);
          box-shadow: 1px 3px 6px -2px rgba(0, 0, 0, 0.2);
          max-width: 900px;
          max-height: 900px;
          text-align: center;
          margin: 10px;
          background-color: var(--secondary-background-two);
          cursor: pointer;
          transition: all 0.3s;
        }

        &_card {
          @include flexSettings(column, center, center);
          @include borderWithRadius(1px solid var(--box), 10px);
          box-shadow: 1px 3px 6px -2px rgba(0, 0, 0, 0.2);
          width: 100px;
          height: 120px;
          text-align: center;
          margin: 10px;
          background-color: var(--secondary-background-two);
          cursor: pointer;
          transition: all 0.3s;

          img {
            @include imageSize(50px, 50px, contain);
            margin-bottom: 10px;
          }

          p {
            font-size: 14px;
            width: 100%;
            color: var(--text-color-one);
          }
        }

        &_card:hover {
          box-shadow: 0 2px 10px var(--skills-card-shadow);
        }
      }
    }
  }
}
